body {
  font-family: Calibri, sans-serif;
  background-color: lightgray;
}

.round-corners {
  border-radius: 20px;
  background: #029dc8;
  height: auto;
}

.text-header {
  font-size: 50px;
  font-weight: normal;
  color: white;
  width: 80%;
  background-color: #029dc8;
  margin: 20px auto 40px auto;
  border-color: #ffffff;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  padding: 2px;
  text-shadow: 2px 2px 12px black;
}

.header-style {
  background-color: #029dc8;
  border-color: white;
  font-size: 30px;
}

.inner-bubble {
  width: 50%;
  font-size: 50px;
}

.shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.outer {
  width: 50%;
  margin: 0 auto 40px auto;
  border-radius: 20px;
  background-color: white;
  border-color: #029dc8;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 1920px) {

  [class*="outer"] {
    width: 96%;
  }

  [class*="round-corners"] {
    font-size: 40px;
  }

  [class*="inner-bubble"] {
    width: 80%;
    font-size: 20px;
  }

  [class*="reference"] {
    text-align: center;
    max-width: 90%;
  }

  [class*="header-style"] {
    background-color: #029dc8;
    border-color: white;
    font-size: 35px;
  }
}

.heading {
  text-align: center;
  background-color: #029dc8;
  border-bottom: solid #029dc8 1px;
  color: #ffffff;
  padding: 4px ;
  font-size: 28px;
  font-weight: normal;
}

.outer p {
  margin: 10px;
  font-size: 20px;
  text-align: inherit;
  text-shadow: 2px 2px 18px gray;
}

.text-shadow {
  text-shadow: 2px 2px 12px black;
}

.pink-color-background {
  background-color: #cc6666;
  border-bottom: solid #cc6666 1px;
}

.pink-color-border {
  border-color: #cc6666;
}

.center-tiny {
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.blue {
  color: #0000ff;
  font-weight: bold;
}

.gray {
  color: gray;
  font-style: italic;
}

.black {
  color: black;
}

.href-no-style {
  text-decoration: none;
}

.hline {
  margin: 0 auto 5px auto;
  width: 80%;
}

p.reference {
  text-align: center;
  max-width:100%;
}

img {
  width: 100%;
  height: auto;
}
